*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html,body{
   display: grid;
   height: 100%;
   place-items: center;
   text-align: center;
   background: #000;
}

.container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .star-widget input{
display: none;
}
.container form{
   display: none;
}

.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .post{
    display: none;
}
.container .edit:hover{
    text-decoration: underline;
}

.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    font-weight: 500;
  }

input:checked ~ form{
    display: block;
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
color: #fe7;
text-shadow: 0 0 20px #952;
}

form header{
    width: 100%;
    font-size: 25px;
    color:#fe7;
    font-weight: 500;
    margin: 5px 0 25px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

form .btn button{
    height: 100%;
    width:100%;
    margin: 15px 0;
}

#rate-1:checked ~ form header::before{
    content: " just hate it 😠";
}

#rate-2:checked ~ form header::before{
    content: " dont't like it 😶";
}

#rate-3:checked ~ form header::before{
    content: " its Awesome 😊 ";
}

#rate-4:checked ~ form header::before{
    content: " just like it  😇 ";
}

#rate-5:checked ~ form header::before{
    content: " just love it 😍";
}


form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}

button:active{
    transform: scale(0.9);
}
@media (max-width:480px)
{
.container{
    width: 100%;
    padding: 20px 15px;
}
body{
    place-items:start;
}

}